div#top-bar {
  height: 40px;
}
div#search {
  padding: 5px 0px;
}

div#viewer-header,
div#lhn-add-subscription-section,
div#sections-header {
  height: 40px;
}

div#title-and-status-holder {
  display: none;
}
div#entries {
  border-top: 0px;
}

div#viewer-container {
  border-left: 1px solid #EBEBEB;
}

/*
 * After Feb-2012 Version.
 */

/* Toolbar */
#gb div#gbx1 {
  height: 44px;
}

/* Reader Toolbar */
div.gbem#gb {
  height: 72px;
}

/* Google logo */
div.gbgt#gbqlw {
  height: 48px;
}

/* search box */
#gb #gbw #gbq div#gbq2 {
  padding-top: 7px;
}

/* User info */
#gb div#gbu {
  padding-top: 7px;
  padding-bottom: 7px;
}

/* Google reader logo */
#logo-section + div#lhn-add-subscription-section {
  height: 40px;
}

/* Subscription button */
#logo-section + #lhn-add-subscription-section span#lhn-add-subscription {
  top: 18px;
}

div#logo-section {
  padding-top: 4px;
  padding-bottom: 5px;
}

/* vim:set ts=8 sts=2 sw=2 tw=0 et: */
